body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #463F3A;
    font-size: 16px;
    background-color: #F4F3EE;
}

h1, h2, h3,
h4, h5, h6 {
    margin: 0;
    padding: 0;
}

input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

.l-header {
    
    width: 100%;
    height: 4.375rem;
    text-align: center;
    color: #F4F3EE;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8A817C;
}

.l-main {
    width: 100%;
    height: 50rem;
    text-align: center;
}

.l-footer {
    width: 100%;
    height: 4.375rem;
    position: sticky;
    bottom: 0;

    text-align: center;
    color: #F4F3EE;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color:  #463F3A;
}

.app {
    position: relative;
    width: 95%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.square {
   
    width: 16rem;
    height: 16rem;
    margin: 0;
    padding: 0;
    border: 5px solid #463F3A;
    background-color: #E0AFA0;

    
    position: absolute;
    top: 8rem;
}

.border-r {
    border-radius: 1rem 1rem 1rem 1rem;
    transition: 0.7s ease-in;
}

.__controles {
    margin: 0;
    margin-left: 1rem;
    padding: 0;
    
    display: flex;
    align-items: center;
    justify-items: start;
    gap: 0.5rem;

    position: absolute;
    top: 28rem;
    

}

.range-top {
    display: inline-block;
    width: 16rem;
    margin: 0;
    padding: 0;

    position: absolute;
    top: 25.5rem;

}

.range-top input {
    width: 100%;
    margin: 0;
    height: 0.7rem;

    transform-origin: 50% 50%;

    -webkit-appearance: none;
    background: #E0AFA0;
    outline: none;
    border-radius: 1rem;
}

.range-top input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1rem;
    height: 1rem;
    border-radius: 50%; 

    background-color: #8A817C;
    cursor: pointer;
}

.range-top input::-moz-range-thumb {
    width: 1rem;
    height: 1rem;
    border-radius: 50%; 

    background: #8A817C;
    cursor: pointer;

}

.__controle {
    width: 2rem;
    height: 2rem;
    text-align: center;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border: 0.2rem solid #E0AFA0;
    border-radius: 1rem;
}

span {
    margin: 0;
    padding: 0;
    z-index: 10;
}

.__l-top-left {
    position: relative;
    display: flex;
    align-items: center;
}

.__l-top-left span {
    position: absolute;
    width: 3.5rem;
    height: 1.1rem;

    font-size: 0.8rem;
    
    bottom: 2.8rem;
    left: -0.5rem;
    background-color: #8A817C;
    color: #F4F3EE;

    border-radius: 5px;

}

span::after{
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -8px;
    width: 0;
    height: 0;
    border-top: 8px solid #8A817C;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}

.__l-top-right {
    position: relative;
    display: flex;
    align-items: center;
}


.__l-top-right span {
    position: absolute;
    width: 4rem;
    height: 1.2rem;

    font-size: 0.8rem;

    bottom: 2.8rem;
    left: -1rem;
    background-color: #8A817C;
    color: #F4F3EE;

    border-radius: 5px;
}

.__l-bottom-right {
    position: relative;
    display: flex;
    align-items: center;
    
}

.__l-bottom-right span{
    position: absolute;
    width: 4.5rem;
    height: 1.2rem;

    font-size: 0.8rem;

    bottom: 2.8rem;
    left: -1rem;
    background-color: #8A817C;
    color: #F4F3EE;

    border-radius: 5px;
}

.__l-bottom-left {
    position: relative;
    display: flex;
    align-items: center;
}

.__l-bottom-left span {
    position: absolute;
    width: 4rem;
    height: 1.2rem;

    font-size: 0.8rem;

    bottom: 2.8rem;
    left: -0.5rem;
    background-color: #8A817C;
    color: #F4F3EE;

    border-radius: 5px;
}


.info {
     position: absolute;
     top: 6.5rem;
     left: 5rem;
}

.top {
    width: 16rem;

}

.visible{
    display: none;
}

.fill {
    background-color: #E0AFA0;

}

.app p{
    margin-left: 1rem;
    position: absolute;
    top: 30rem;
    font-weight: 700;
}

.primary-text {
    width: 70%;
    margin: 0;
    margin-top: 2rem;
    padding: 0;
    text-align: center;
}